body {
  display:flex;
  flex-direction:column;
  align-items:center;
  background:#111;
  color:white;
}

#game {
  width:400px;
  height:500px;
  background:linear-gradient(#330000,#000);
  position:relative;
  overflow:hidden;
  border-radius:12px;
}

#player {
  width:40px;
  height:40px;
  background:cyan;
  position:absolute;
  bottom:20px;
  left:180px;
  border-radius:8px;
}

.debris {
  width:30px;
  height:30px;
  background:orange;
  position:absolute;
  top:0;
  border-radius:50%;
}
